@{
    ViewData["Title"] = "Главная страница";
}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Подключение Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .hero {
            position: relative;
            height: 60vh;
            color: black;
            overflow: hidden; /* Позволяет скрыть лишние части псевдоэлем */
            display: flex; /* Используем Flexbox для центрирования содержимого */
            justify-content: center; /* Центрируем по горизонтали */
            align-items: center; /* Центрируем по вертикали */
            text-align: center; /* Выравниваем текст по центру */
            padding: 50px;
        }

            .hero::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-image: url('https://i.pinimg.com/736x/40/73/f6/4073f6a30aac0ff35670a09afb9f3057.jpg');
                background-size: cover;
                background-position: center;
                filter: blur(50px); /* Размазываем изображение */
                z-index: 1; /* Помещаем псевдоэлемент под содержимым */
            }

        .hero-title {
            position: relative; /* Устанавливаем позицию относительно родителя */
            z-index: 2; /* Помещаем контент над размазанным фоном */
            text-align: center;
        }

        .features {
            margin: 50px 0;
        }

        .feature {
            margin-bottom: 30px;
        }
    </style>
</head>
<body>
    <div class="container">
        <header class="hero">
            <div class="hero-title">
                <h1 class="display-4">Добро пожаловать на нашу платформу онлайн-обучения!</h1>
                <p class="lead">Мы рады представить вам уникальное пространство, где студенты и репетиторы могут легко взаимодействовать и совместно достигать образовательных целей.</p>
                <br />
                <a href="@Url.Action("Register", "Home")" class="btn btn-light btn-lg">Начать обучение</a>
            </div>
        </header>
    </div>

    <div class="container">
        <h2 class="text-center my-5">Почему выбирают нашу платформу?</h2>
        <div class="row features">

            <div class="col-md-6 feature">
                <h3>Для репетиторов</h3>
                <p>Управляйте своим расписанием, добавляйте свободное время и отслеживайте задания. Наслаждайтесь гибкостью и простотой в организации учебного процесса!</p>
            </div>

            <div class="col-md-6 feature">
                <h3>Для учеников</h3>
                <p>Забронируйте удобное время для занятий, взаимодействуйте с вашим репетитором и управляйте своими заданиями в одном месте.</p>
            </div>

        </div>
    </div>

    <!-- Подключение jQuery и Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
</body>
</html>
