@{
    ViewData["Title"] = "Главная страница";
}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
        .hero {
            background-image: url('https://i.pinimg.com/236x/5a/09/c0/5a09c076a7378e8cf088ac20b135d866.jpg');
            background-size: cover;
            background-position: center;
            height: 60vh;
            position: relative;
            color: white;
        }

        .hero-title {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #4b0082;
            text-align: center;
        }

        .features {
            margin: 50px 0;
        }

        .feature {
            margin-bottom: 30px;
        }
    </style>
</head>
<body>
    <div class="container">
    <header class="hero">
        <div class="hero-title">
            <h1 class="display-4">Добро пожаловать на нашу платформу онлайн-обучения!</h1>
            <p class="lead">Мы рады представить вам уникальное пространство, где студенты и репетиторы могут легко взаимодействовать и совместно достигать образовательных целей.</p>
            <a href="@Url.Action("Register", "Home")" class="btn btn-light btn-lg">Начать обучение</a>
        </div>
    </header>
    </div>
    <div class="container">
        <h2 class="text-center my-5">Почему выбирают нашу платформу?</h2>
        <div class="row features">

            <div class="col-md-6 feature">
                <h3>Для репетиторов</h3>
                <p>Управляйте своим расписанием, добавляйте свободное время и отслеживайте задания. Наслаждайтесь гибкостью и простотой в организации учебного процесса!</p>
            </div>

            <div class="col-md-6 feature">
                <h3>Для учеников</h3>
                <p>Забронируйте удобное время для занятий, взаимодействуйте с вашим репетитором и управляйте своими заданиями в одном месте.</p>
            </div>

        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
</body>
</html>